COMPOSE_PROJECT_NAME=cashevide-fastapi

DEBUG = True

# --- DATABASE SETTINGS ---
DB_NAME=cashevide_db
DB_USER=admin
DB_PASSWORD=strongpassword123
DB_HOST=localhost
DB_PORT=5432
DB_ECHO=True

JWT_SECRET_KEY=<random string>
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60
