services:
  web:
    command: /app/.venv/bin/uvicorn cashevide_api.main:app --host 0.0.0.0 --port 8000 --reload
    volumes:
      - .:/app
      - /app/.venv
    ports:
      - "8001:8000"
    networks:
      - default
    environment:
      - DB_HOST=host.docker.internal
    env_file:
      - .env
    extra_hosts:
      - "host.docker.internal:host-gateway"

networks:
  proxy-network:
    external: false
  cashevide_default:
    external: false
  default:
